@{
    ViewBag.Title = "About";
}
<div class="container cont">
    <div class="row">
        <h2>About Life In Esbjerg</h2>
        <h3>What is Life In Esbjeg?</h3>
        <p>
            A web application that gathers all the companies in Esbjerg city.<br />
            All companies can create a profile, where basic information can be inputted, where people can search for companies,
            check company profiles and write reviews.<br />
            Our registered users can rate companies strictly based on their quality of Service.

        </p>
        </div>
    </div>
