@{
    ViewBag.Title = "Contact";
}

<div class="container cont">
    <div class="row">

        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
        <address>
            Life In Esbjerg Team <br />
            Sp. Kirkevej 103,  <br />
            6700 Esbjerg<br />
            <abbr title="Phone">P:</abbr>
          +45 76133200
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">kriahja@gmail.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">agnersdottir@gmail.com</a>
        </address>

        </div>
    </div>
