@import url(https://fonts.googleapis.com/css?family=Ropa+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
 padding:0!important;
 background-color:#ebe7df;
 }

/* Set padding to keep content from hitting the edges */
 .body-content {
 padding-left: 15px;
 padding-right: 15px;
 }

/* Override the default bootstrap behavior where horizontal description lists 
 will truncate terms that are too long to fit in the left column 
 */
 .dl-horizontal dt {
 white-space: normal;
 }

/* Set width on the form input elements since they're 100% wide by default */
 input,
 select,
 textarea {
 max-width: 280px;
 }
 /* Navigation for categories */
 .list-group.panel > .list-group-item {
 border-bottom-right-radius: 4px;
 border-bottom-left-radius: 4px;
 }
 .siteTitle{
     font-family: "Open Sans";
     color:#4086AA!important;
     padding-bottom:5px;
 }
.list-group-submenu {

 margin-left: 20px;
 }
 /*the front page*/
 /**** BASE ****/
 body {
 color:ThreeDDarkShadow;
 }

a {
 color:ThreeDDarkShadow;
 text-decoration: none !important;
 }

/**** LAYOUT ****/
 .list-inline > li {
 padding: 0 10px 0 0;
 }

.container-pad {
 padding: 30px 15px;
 }

/**** MODULE ****/
 .bgc-fff {
 background-color:rgb(248, 248, 248) !important;
 }

.box-shad {
 -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
 box-shadow: 1px 1px 0 rgba(0,0,0,.2);
 }

.brdr {
 border: 1px solid ‪#‎ededed‬;
 }

/* Font changes */
 .fnt-smaller {
 font-size: .9em;
 }

.fnt-lighter {
 color: ‪#‎bbb‬;
 }

/* Padding - Margins */
 .pad-10 {
 padding: 10px !important;
 }

.mrg-0 {
 margin: 0 !important;
 }

.btm-mrg-10 {
 margin-bottom: 10px !important;
 }

.btm-mrg-20 {
 margin-bottom: 20px !important;
 }

/* Color */
 .clr-535353 {
 color:#fff;
 }

/**** MEDIA QUERIES ****/
 @media only screen and (max-width: 991px) {
‪#‎property‬-listings .property-listing {
 padding: 5px !important;
 }

#property-listings .property-listing a {
 margin: 0;
 }

#property-listings .property-listing .media-body {
 padding: 10px;
 }
 }

@media only screen and (min-width: 992px) {
 #property-listings .property-listing img {
 max-width: 180px;
 }
 }

/*FOR THE LAYOUT PAGE*/

body {
 padding: 40px 0px;
 }

.navbar-collapse {
 position: relative;
 padding-top: 30px !important;
 max-height: 270px;
 }

.navbar-collapse form[role="search"] {
 position: absolute;
 top: 0px;
 right: 0px;
 width: 100%;
 padding: 0px;
 margin: 0px;
 z-index: 0;
 }

.navbar-collapse form[role="search"] button,
 .navbar-collapse form[role="search"] input {
 padding: 8px 12px;
 border-radius: 0px;
 border-width: 0px;
 color: rgb(119, 119, 119);
 background-color: rgb(248, 248, 248);
 border-color: rgb(231, 231, 231);
 box-shadow: none;
 outline: none;
 }

.navbar-collapse form[role="search"] input {
 padding: 16px 12px;
 font-size: 14pt;
 font-style: italic;
 color: rgb(160, 160, 160);
 box-shadow: none;
 }

@media (min-width: 768px) {
 .navbar-collapse {
 padding-top: 0px !important;
 padding-right: 38px !important;
 }

.navbar-collapse form[role="search"] {
 width: 38px;
 }

.navbar-collapse form[role="search"] button,
 .navbar-collapse form[role="search"] input {
 padding: 15px 12px;
 }

.navbar-collapse form[role="search"] input {
 padding: 25px 12px;
 font-size: 18pt;
 opacity: 0;
 display: none;
 }

.navbar-collapse form[role="search"].active {
 width: 100%;
 }

.navbar-collapse form[role="search"].active button,
 .navbar-collapse form[role="search"].active input {
 display: table-cell;
 opacity: 1;
 }

.navbar-collapse form[role="search"].active input {
 width: 100%;
 text-align: right;
 }

.navbar-collapse form[role="search"].active button[type="submit"] {
 background-color:antiquewhite;
 }
 }

.navigationTopHeader {
    background-color:dimgray;
    color:ThreeDLightShadow;
    font-family:"Ropa Sans";
     
}
footer{
    color:ThreeDHighlight;
}
.footerTop {
    background-color:#242424;
    min-height:150px!important;
}
.footerBot{
     background-color:#2e2e2e;
     min-height:100px!important;
}
.cont{
    margin-top:20px;
    margin-bottom:20px;
}
.title{
     color:#57bfc5;
}
/*Search Bar*/
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
.glyphicon{
    position:absolute;
    right:130px;
    top:28px;
}/* USER PROFILE PAGE */
 .card {
    margin-top: 40px;
    padding: 50px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}


