

@{
    ViewBag.Title = "FuturProfile";
}
<div class="container cont">
    <div class="row">
        <h2>Your Profile</h2>

        <p>
           Here  your profile will be.<br/>
            Here you can update, edit and see your profile.<br />
           Sorry for the inconvenience. <br />
            <br />

        </p>
        <h6>Please contact the Life in Esbjerg team if you have any requests.</h6>

    </div>
</div>
