

@using (Html.BeginForm())
{
    <div class="carousel-inner">
       
            <img class="blur" src="~/Images/Login(1200x400).jpg" style="width:100%" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Log In</h1>
                    <h3>Log In as a Company or a Private User!</h3>
                    <p>
                        <a class="btn btn-lg btn-primary" href="http://localhost:19968/Account/Login/2" role="button">Company</a>
                        <a class="btn btn-lg btn-success" href="http://localhost:19968/Account/Login/1" role="button">Private</a>
                    </p>
                </div>
            </div>
        
    </div>
}