

@using (Html.BeginForm())
{
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/35H(1200x400).jpg" style="width:100%" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Log In</h1>
                    <p>Log In as a Company or a Private User!</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="http://localhost:19968/Account/Login/2" role="button">Company</a>
                        <a class="btn btn-lg btn-primary" href="http://localhost:19968/Account/Login/1" role="button">Private</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
}