
@*<div class="container cont">
    <div class="col-md-12">
        <br /> <br />
        <div class="jumbotron" style="background-color:white;">
            <h1> User Type </h1>
            <p>Here you can select what type of user profile you would like to create.</p>
            @using (Html.BeginForm())
            {
                <div class="col-md-2">
                   
                </div>

                <div class="col-md-2">
                   
                </div>
            }
            <br />
        </div>
        </div>
    </div>*@
@using (Html.BeginForm())
{
    <div class="carousel-inner">

        <img class="blur" src="~/Images/Register(1200x400).jpg" style="width:100%" alt="First slide">
        <div class="container">
            <div class="carousel-caption">
                <h1>Register</h1>
                <h3>Register as a Company or a Private User!</h3>
                <p>
                    <button type="button" class="btn btn-primary btn-lg">
                        @Html.ActionLink("Company", "Register", new { id = 2 }, new { @style = "color:white;" })
                    </button>
                    <button type="button" class="btn btn-success btn-lg">
                        @Html.ActionLink("User", "Register", new { id = 1 }, new { @style = "color:white;" })
                    </button>                  
                </p>
            </div>
        </div>

    </div>
}