

@using (Html.BeginForm())
{
    <h4>Select Role</h4>
    <h4>Select Role</h4>
    <h4>Select Role</h4>
    <h4>Select Role</h4>
    <h4>Select Role</h4>
    <h4>Select Role</h4>

    @Html.ActionLink("User", "Register", routeValues: new { id = 1 }) <br>
    @Html.ActionLink("Company", "Register", routeValues: new { id = 2 })
}